<div id="messages">
    <% Object.keys(messages).forEach(function (type) { %>
    <!-- <ul class="<%= type %>"> -->
    <% messages[type].forEach(function (message) { %>
    <!-- <li><%= message %></li> -->
    <div class="alert alert-dismissible fade show alert-<%-type%>" role="alert">
        <strong><%= message %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }) %>
    <!-- </ul> -->
    <% }) %>
</div>